# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Model Files
*.h5
*.keras
*.pt
*.pth

# FAISS / Chroma
faiss_index/
chroma_db/
persist_directory/

# Logs
*.log

# Cache
.cache/

# OS Files
.DS_Store
Thumbs.db


# OpenAI Keys
.env

# Vector Stores
faiss_index/
chroma_db/

# Uploaded PDFs
uploaded_documents/

# Cache
.cache/

# Logs
logs/
